{% extends "base.html" %}

    {% block content %}
  <center>
    <table id= "set-list-table">
  
      {% for i in urls %}
      <tr>
        <td>
      <iframe class="spotify-player" src={{i}} width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; 
        fullscreen; picture-in-picture" loading="lazy"></iframe>
  
      </td>

      <form  method ="POST" action="">
      <td style="padding-left: 12%; display:flexbox ">

        <button  type = 'submit' class="btn btn-dark btn-sm m-1" name='seed' value={{i}} >New Seed</button>
        <br>

      <button type = 'submit'  class="btn btn-dark btn-sm m-1 " name='set' value={{i}}>Add To Set</button></td>
    </form>
      </tr>

      {%endfor%}
  
    </table>
  </center>
  
  {% endblock %}