{% extends "base.html" %}

    {% block content %}
  <center>
    <div id = spotify-player-container ">


      <iframe class = spotify-player s src={{url}} width="60%" height="152" frameBorder="0" allowfullscreen="form-select form-select-sm" allow="autoplay; clipboard-write; encrypted-media; 
      fullscreen; picture-in-picture" loading="lazy"></iframe>

  <br>
<br id="line-break">
  <div>
</div>

<div id="right-song-question">
  <h5>Is this the right track?</h5>
  <div class="button-box">
    <button onclick="show_personalisation()"  value="Yes" name="yesorno" class="btn btn-dark btn-sm m-1 ">Yes</button>
  </div> 
  <div class="button-box">
    <button onclick="back_to_search()"  value="No" name="yesorno" class="btn btn-dark btn-sm m-1 ">No</button>

</div>
</div>
<br>

</div>

  <div id="personalisation-info-box" class="personalisation-box fade-in-class">
    <br>
  <form style="color: white;" method="POST">
    {{ form.hidden_tag() }}
    <p>What conditions would you like to have for related tracks?</p>
    <br>
    <table>

    <tr>
      <td class="table-data-name-2">BPM: </td>
      <td class="table-data-value-2">{{form.bpm_range(class="form-select form-select-sm")}}</td>
       <td class="table-data-name-2">KEY: </td>
       <td class="table-data-value-2">{{form.key_range(class="form-select form-select-sm")}}</td>
    </tr>
    <tr>
      <td class="table-data-name-2">POPULARITY:</td>
      <td class="table-data-value-2">{{form.popularity(class="form-select form-select-sm")}}</td>
      <td class="table-data-name-2" >DANCEABILITY:</td>
      <td class="table-data-value-2">{{form.danceability(class="form-select form-select-sm")}}</td>

    </tr>
    <tr>
      <td class="table-data-name-2">ENERGY:</td>
    <td class="table-data-value-2">{{form.energy(class="form-select form-select-sm")}}</td>
      <td class="table-data-name-2">MOOD:</td>
      <td  class="table-data-value-2">{{form.mood(class="form-select form-select-sm")}}</td>
    </tr>
      
 
  </table>

  <br>
  <button type="submit" class="btn btn-light ">Submit</button>
</form>

  <br>
    </div>
    <br>
    <div id = 'information-box'>
      <br>
      <br>
      <table id ='table-information-box'>
        <tr>
          <td >
            <h3 class = "table-data-name fade-in-class">BPM:</h3>
         </td>
          <td >
            <h3 class="table-data-value fade-in-class">{{track_features_formatted['bpm']}}</h3>
          </td>
          <td class = "empty-column"></td>
          <td >
            <h3 class="table-data-name fade-in-class">Key:</h3>
          </td>
          <td >
            <h3 class="table-data-value fade-in-class">{{track_features_formatted['key']}}</h3>
          </td>
        </tr>
        <tr>
          <td >
            <h3 class="table-data-name fade-in-class">Popularity:</h3>
          </td>
          <td >
            <h3 class="table-data-value fade-in-class">{{track_features_formatted['popularity']}}%</h3>
          </td>
          <td class = "empty-column"></td>
          <td >
            <h3 class="table-data-name fade-in-class">Danceability:</h3>
          </td>
          <td >
            <h3 class="table-data-value fade-in-class">{{track_features_formatted['danceability']}}%</h3>
          </td>
        </tr>

        <tr>
          <td >
            <h3 class="table-data-name fade-in-class">Energy:</h3>
          </td>
          <td >
            <h3 class="table-data-value fade-in-class">{{track_features_formatted['energy']}}%</h3>
          </td>
          <td class = "empty-column"></td>
          <td >
            <h3 class="table-data-name fade-in-class">Mood:</h3>
          </td>
          <td >
            <h3 class="table-data-value fade-in-class">{{track_features_formatted['mood']}}%</h3>
          </td>
        </tr>
      </table>
      <br>
      <br>

    </div>

  </center>

  {% endblock %}